*{
    margin:0;
    padding:0;
    border-sizing: border-box;
}
body{
    background-color:#EDEDE9;
    text-align:center;
}
.heading{
    margin-top:3rem;
    font-size:3rem;
    color:#3E0E1F;
}
.game-container{
    height: 70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 40px;
    border: none;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    font-size:8vmin;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color:#4D4236;
    cursor: pointer;
    user-select: none;
}
.reset-button{
    padding:0.5rem 1rem;
    border-radius:1rem;
    background-color:#D5BDAF;
    font-weight:bold;
    border:1px solid #865F46;
}
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
}

.box:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


