    /*mobile*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3F4F6;
}
a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
.header-container{
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    justify-content:center ;
    align-items: center;
    padding: 1rem;
}
.header{
    width:19rem;
    display: flex;
    justify-content:space-between;  
}

.logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:0.5rem;
    padding: 0.5rem;
}

.title{
    width: 8rem;
    font-size: 1rem;
    font-weight: bold;
}
.contact-us-container{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

}
.mail-container,.github-container,.linkedIn-container{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
.nightMode-container{
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

.projects-container{
    display: grid;
    grid-template-columns: 19rem;
    grid-template-rows: 3rem 3rem 3rem;
    justify-content:center;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    gap: 2rem;
}
.list{
    text-align: center;
    padding: 1rem 2rem;

}

.project{
    width: 19rem;
    background-color: white ;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0.1px rgba(196, 196, 187, 0.7);
    cursor: pointer;
    background-color:white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.project:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
}

.project:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




        /*Tablet*/
@media (min-width:30rem) and (max-width:63.9375rem){
    .container{
    }
    .header-container{
        padding: 1.5rem;
    }
    .header{
        width:45rem;
    }

    .logo-container{
        gap:1rem;
        padding: 0.5rem;
    }

    .title{
        width: 15rem;
        font-size: 2rem;
    }
    .contact-us-container{
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .mail-container,.github-container,.linkedIn-container{
        width: 1.6rem;
        height: 1.6rem;
    }
    .nightMode-container{
        width: 2rem;
        height: 2rem;
    }

    .projects-container{
        grid-template-columns: 20rem 20rem ;
    }
}



            /*laptop*/
@media (min-width:64rem){
     .container{
    }
    .header-container{
        padding: 2.5rem;
    }
    .header{
        width:120rem;
    }

    .logo-container{
        gap:1rem;
        padding: 0.5rem;
    }

    .title{
        width: 15rem;
        font-size: 2rem;
    }
    .contact-us-container{
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .mail-container,.github-container,.linkedIn-container{
        width: 1.5rem;
        height: 1.5rem;
    }
    .nightMode-container{
        width: 2rem;
        height: 2rem;
    }

    .projects-container{
        grid-template-columns: 30rem 30rem 30rem;
    }
    .project{
        width: 30rem;
    }
}


        /*darkmode*/
body.night-mode{
    background-color: #121212;
    color: #e0e0e0;
}
body.night-mode .header-container {
  background-color: #1e1e1e;
}

body.night-mode a {
  color: #ffffff;
}

body.night-mode .project {
  background-color: #1e1e1e;
  box-shadow: 0 0 10px 0.1px rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(61, 53, 53);
}

body.night-mode .project:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

body.night-mode .contact-us-icons {
  color: rgb(255, 255, 255); 
}